
<form id="searchquery" method="get" action="{{{searchurl}}}">
    <div>
        <label for="block_search_q">{{label}}</label>
        <input id="block_search_q" type="text" name="query_string" />
        <input type="submit" value="{{button}}" class="btn" />
    </div>
</form>
